<h2>
  {{ title }}
</h2>

<div class="row">

	<button
		[class.active]="filterBy=='all'" 
		(click)="filterBy = 'all'"
		class="btn btn-lg btn-info">
			All
	</button>

	<button 
		[class.active]="filterBy=='boats'"
		(click)="filterBy = 'boats'"
		class="btn btn-lg btn-info">
			Boats
	</button>

	<button 
		[class.active]="filterBy=='babies'"
		(click)="filterBy = 'babies'"
		class="btn btn-lg btn-info">
			Babies
	</button>

	<button 
		[class.active]="filterBy=='pets'"
		(click)="filterBy = 'pets'"
		class="btn btn-lg btn-info">
			Pets
	</button>

	<ul id="thumbnailList">
		<li *ngFor="let image of (visableImages | imageFilter:filterBy)">
			<a [routerLink] = "['/image', image.id]">
				<img 
					class="tn" 
					src="{{image.url}}"
					width="200"
					alt="">
			</a>
		</li>
	</ul>
</div>